*.py[cod]
*.log

# exclude recipes - add manuall
recipes


# Vim auxiliary files
*~
*.swp

# C extensions
*.so
_*.c
_*.pyxbldc
cgat/BamTools/bamtools.c
cgat/BamTools/geneprofile.c
cgat/BamTools/peakshape.c
cgat/Components/Components.cpp
cgat/FastqTools/fastqtools.c
cgat/GeneModelAnalysis.c
cgat/NCL/cnestedlist.c
cgat/VCFTools/vcftools.c

tests/_*.yml

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
doc/_build
doc/_static

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
_test_scripts.yaml
_test_commandline.yaml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
