#
# Use .add_data_files and .add_data_dir methods in a appropriate
# setup.py files to include non-python files such as documentation,
# data, etc files to distribution. Avoid using MANIFEST.in for that.
#
include MANIFEST.in
include LICENSE
include INSTALL
include README.rst
include KNOWN_BUGS
include THANKS.txt

include install.sh
include requires.txt

include cgat/Components/*.h
include cgat/Components/*.cpp
include cgat/NCL/*.h
include cgat/NCL/*.pxd
include cgat/NCL/intervaldb.c
include cgat/Components/connected_components.h
include cgat/Components/connected_components.cpp
exclude cgat/Components/Components.cpp
include cgat/BamTools/*.pyx
include cgat/VCFTools/*.pyx
